@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    background-color: bisque;
}
#title{
    padding-top: 200px;
    font-size: 60px;
    text-align: center;
    font-family: 'Pacifico', cursive;    
}

#slogan{
    font-size: 40px;
    text-align: center;
}


button{
    position: relative;
    display: inline;
    text-decoration: none;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

#log-btn{
    margin-left: 40%;
}
#sign-btn{
    margin-left: 1%;
}

