@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
  background-color: #ffe4c4;
}
#title {
  padding-top: 200px;
  font-size: 60px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

#slogan{
    font-size: 40px;
    text-align: center;
}


a{
    text-decoration: none;
    color: bisque;
}

button{
    position: relative;
    display: inline;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
    background-color: black;
    transition: 0.5s ease-in-out;
}
#log-btn{
    margin-left: 40%;
    text-decoration: none;

}
#sign-btn{
    margin-left: 1%;
}

button:hover{
    font-size: 25px;
    background-color: white;
}
a:hover{
    color:black;
}


