@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
  background-color: bisque;
}
#title {
  padding-top: 200px;
  font-size: 60px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

#slogan {
  font-size: 40px;
  text-align: center;
}
